
    <main id="main" class="main">
      <div class="main-inner">
        <div class="content-wrap">
          <div id="content" class="content">
            <section id="posts" class="posts-expand">
              <article class="post post-type-normal " itemscope itemtype="http://schema.org/Article">
                <header class="post-header">
                  <h1 class="post-title" itemprop="name headline">
                    <a class="post-title-link" href="#" itemprop="url">404 Not Found</a>
                  </h1>
                  <div class="post-meta">
                    <span class="post-time">
                      <span class="post-meta-item-icon">
                        <i class="fa fa-calendar-o"></i>
                      </span>
                      <span class="post-meta-item-text">您现在所在的位置：</span>
                      <time itemprop="dateCreated" datetime="2017-11-19T18:32:41+08:00" content="2017-11-19">
                        404错误页
                      </time>
                    </span>
                  </div>
                </header>
                <div class="post-body" itemprop="articleBody">
                  <p>您所访问的页面不存在或者已删除</p>
                </div>
                <div class="post-more-link text-center">
                  <a class="btn" href="./index.php?c=index" rel="contents">
                  回到首页 &raquo;
                  </a>
                </div>
                <div>
                </div>
                <footer class="post-footer">
                  <div class="post-eof"></div>
                </footer>
              </article>
            </section>
          </div>
        </div>
        