
    <main id="main" class="main">
      <div class="main-inner">
        <div class="content-wrap">
          <div id="content" class="content">
            <div id="posts" class="posts-expand">
              <script>getArticleDetail();</script>
              <!--<article class="post post-type-normal" itemscope="" itemtype="http://schema.org/Article" style="opacity: 1; display: block; transform: translateY(0px);">
                <header class="post-header">
                  <h1 class="post-title" itemprop="name headline"><a class="post-title-link" href="./index.php?c=detail&aid=xx" itemprop="url">继续添加文章4</a></h1>
                  <div class="post-meta">
                    <span class="post-time">
                      <span class="post-meta-item-icon"><i class="fa fa-calendar-o"></i></span>
                      <span class="post-meta-item-text">发表于</span>
                      <time itemprop="dateCreated" datetime="2017-11-30 21:04:09" content="2017-11-30 21:04:09">2017-11-30 21:04:09</time>
                    </span>
                  </div>
                </header>
                <div class="post-body" itemprop="articleBody">
                  内容
                  <div class="post-more-link text-center"><a class="btn" href="javascript:void(0);" onclick="alert('评论系统尚未开发完毕，敬请期待！')" rel="contents">展开评论 »</a></div>
                  <div></div>
                  <footer class="post-footer"><div class="post-eof"></div></footer>
                </div>
              </article>
              <div class="post-spread">
              </div>-->
            </div>
          </div>
        </div>