<h3>文章管理</h3>
<table id="siteInformation" width="100%" border="0" align="center" cellpadding="5" cellspacing="1" bgcolor="#B3B3B3">
  <tr>
    <th bgcolor="#EBEBEB">文章ID</th>
    <th bgcolor="#EBEBEB">文章标题</th>
    <th bgcolor="#EBEBEB">操作</th>
  </tr>
  <tr>
    <td align="left" bgcolor="#FFFFFF"><font color="MediumSeaGreen">1</font></td>
    <td align="left" bgcolor="#FFFFFF"><font color="MediumSeaGreen">测试</font></td>
    <td align="left" bgcolor="#FFFFFF"><font color="MediumSeaGreen" onclick="window.open('./post.php?aid=1','edit_post','width=800,height=600')"><a>修改</a></font></td>
  </tr>
</table>
<a class="btn" href="javascript:void(0);" onclick="window.open('./post.php?aid=0','edit_post','width=800,height=600')" rel="contents">
  新增文章 &raquo;
</a>